ul, ol, dl {
    font-size: 20px;
    text-align: left;
    list-style-position: inside;
}

h1, h3 {
    margin: 10px;
}

table {
    margin-top: 15px;
}

table, th, td {
    border: 3px solid rgb(28, 75, 1);
    font-size: 20px;
}

td {
    padding: 5px 5px;
    text-align: center;
}

.classification-table {
    margin-left: auto;
    margin-right: auto;
}

.explanation-div {
    font-size: 20px;
}

.names-difinition-div, .examples-div {
    width: 50%;
    padding: 10px;
    text-align: right;
}

.names-difinition-div, .examples-div {
    font-size: 20px;
    max-width: 400px;
}

.example-div {
    max-width: 800px;
}