body {
    background-color: gray;
}
div {
    text-align: center;
    width: auto;
    margin:auto;
} 
th, td {
    border: 1px solid black;
    font-size: 20px;
}
table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
td {
    padding: 5px 5px;
    text-align: right;
    width: 40px;
}
.header-row, .first-column {
    background-color: yellow;
    font-weight:900;
}
.even {
    background-color:rgb(231, 197, 152);
}
.odd {
    background-color: aqua;
}