@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #c94b4b, #4b134f);
}
/
.login-container {
    display: flex;
    background-color: white;;
} 